:root {
  --primary-background-color: #7F5539;
  --background-color: #9C6644;
  --primary-font-color: #EDE0D4;
}
html, body, div#root {
  height: 100%;
}

body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}